body {
    background: #fdf6e3;
    color: #929e04;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
header,
main {
    margin: 0 auto;
    max-width: 600px;
    padding: 3rem 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #7491d2;
    text-align: center;
    line-height: var(--line-height);
}
p {
    margin: 0.75rem 0;
    padding: 0;
}