body {
    font-family:  Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}
.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-links li {
    margin-left: 20px;
}               

.nav-links a {
    color: #fff;
    text-decoration:none;
    font-size: 1rem;
}
.nav-links a:hover {
text-decoration: underline;
}    
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
}
